// compileExpanded: style.css
/* constants */

$font: 'Play',
arial,
sans-serif;
$fontSize: 16px;
$fontColor: #fff;
$fontLine:1.75;
$linkColor:#ca9d6f;
$widthMax:1200px;
$widthMin:1280px;
$h1Size:60px;
$h2Size:55px;
$h3Size:50px;
$h4Size:36px;
$btn_bg: transparent;
$btn_bg_hov: #da0d13;
$btn_color: #ca9d6f;

/* */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    background: #000;
}

.fancybox-wrap:before {
    content: '';
    position: absolute;
    width: 410px;
    height: 497px;
    background: url(../img/leaf6.png) no-repeat;
    top: -76px;
    left: -143px;
    z-index: 0;
}

.fancybox-wrap:after {
    content: '';
    position: absolute;
    width: 711px;
    height: 671px;
    background: url(../img/leaf7.png) no-repeat;
    top: 141px;
    right: -183px;
    z-index: 0;
}

.fancybox-skin {
    position: relative;
    text-shadow: none;
    background: #000;
    z-index: 10;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
}

.fancybox-close {
    font-size: 0;
    text-decoration: none;
    text-indent: 9999px;
    position: absolute;
    top: -37px;
    color: #fff;
    right: -35px;
    border: none;
    cursor: pointer;
    z-index: 8040;
    width: 40px;
    height: 40px;
}

.fancybox-close:before,
.fancybox-close:after {
    width: 2px;
    height: 40px;
    content: '';
    background: #000;
    left: 19px;
    top: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute;
}

.fancybox-close:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.fancybox-close:hover {
    transform: rotate(90deg) scale(1.2);
    -webkit-transform: rotate(90deg) scale(1.2);
    -moz-transform: rotate(90deg) scale(1.2);
}

.fancybox-nav {
    opacity: 0.36;
    position: absolute;
    top: 0;
    width: 95px;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
    background: none;
}

.fancybox-prev {
    left: 0px;
    text-align: left;
}

.fancybox-next {
    right: 0px;
    text-align: right;
}

.fancybox-nav span {
    position: absolute;
    top: 352px;
    cursor: pointer;
    z-index: 8040;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.fancybox-prev span {
    left: 61px;
}

.fancybox-next {}

.fancybox-next span {
    right: 61px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.fancybox-nav:hover {
    opacity: 1;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(255, 255, 255, 0.46);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}


/* slick */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    /*-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;*/
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide {
    position: relative;
    overflow: hidden;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 0%;
    text-align: center;
    z-index: 1000;
    width: 15px;
    height: 100%;
    background: transparent;
    display: block;
    border: none;
    text-indent: 9999px;
    &:after {
        vertical-align: top;
        content: '';
        display: inline-block;
        width: 33px;
        height: 16px;
    }
    &.slick-disabled {
        visibility: hidden;
        opacity: 0;
    }
    &:hover {
        opacity: 1;
    }
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
    background-position: right;
}

.slick-dots {
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 47px;
    line-height: 0;
    margin: 0;
}

.slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0 2px 0 2px;
}

.slick-dots li button {
    box-sizing: border-box;
    display: block;
    border: none;
    width: 9px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.44;
    height: 9px;
    text-indent: 99999px;
    background-color: #fff;
    border: none;
}

.slick-dots li button:hover {
    opacity: 1;
}

.slick-dots li.slick-active button {
    opacity: 1;
}


/* ___________ reset CSS____________________*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

a,
p,
ul,
ol,
li,
img,
span,
strong,
em {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
caption,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

canvas,
details,
embed,
figcaption,
menu,
nav,
output,
ruby,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

b,
strong {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background: #5294c1;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
    margin-bottom: 12px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul ul,
ol ol {
    padding-top: 0em;
}

dt {
    font-size: 18px;
    margin: 0;
}

dd {
    padding-left: 10px;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 20px;
}

html {
    height: 100%;
    background: #080202;
    width: 100%;
    overflow: hidden;
    overflow-y:scroll;
}

input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}

sup {
    vertical-align: super;
    font-size: 60%;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clear {
    clear: both;
    position: relative;
    height: 1px;
    overflow: hidden;
}

.alignleft {}

img.alignleft {
    float: left;
    margin: 3px 28px 10px 0px;
}

.alignright {
    text-align: right;
}

img.alignright {
    float: right;
    margin: 3px 0px 10px 28px;
}

.aligncenter {
    text-align: center;
}

img.alignnone {
    margin-bottom: 14px;
}


/*-----------------------------------*/

body {
/*    transform: translateZ(0);*/
    font-size: $fontSize;
    font-family: $font;
    line-height: $fontLine;
    color: $fontColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #080202;
    min-height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
}

a {
    color: $linkColor;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

a:hover {
    color: #dfac79;
}

h1 {
    margin: 0 0 24px;
    font-weight: bold;
    line-height: 1.2;
    font-size: $h1Size;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    margin: 0 0 21px;
    font-weight: bold;
    line-height: 1.2;
    font-size: $h2Size;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

h3 {
    margin: 0 0 19px;
    font-weight: bold;
    line-height: 1.2;
    font-size: $h3Size;
    text-transform: uppercase;
    color: #e5c093;
}

h4 {
    margin: 0 0 27px;
    font-weight: bold;
    line-height: 1.2;
    font-size: $h4Size;
    text-transform: uppercase;
    text-align: center;
}

.main-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}

.main-wrapper.open {
    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
}

.wrapper {
    max-width: $widthMax;
    margin: 0 auto;
    padding: 0 0px;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
}


/* */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: #080202;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/ajax-loader.gif") no-repeat 50% 50%;
    margin: -64px 0 0 -64px;
}


/*--------------- header ------------------*/

#header {
    position: absolute;
    z-index: 30;
    top: 0px;
    left: 0;
    right: 0;
    padding: 40px 0 0px;
    .head-soc {
        float: right;
        a {
            display: inline-block;
            margin: 4px 1px 0 36px;
            vertical-align: middle;
            font-size: 28px;
        }
    }
    .link-hash {
        float: left;
        font-size: 24.7px;
        color: #fff;
        letter-spacing: 0.5px;
        span {
            color: #6bd28d;
        }
    }
}


/*---------------- footer ----------------*/

#footer {
    clear: both;
    height: 130px;
    .foot-in {
        position: absolute;
        padding-top: 35px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 130px;
        font-size: 14px;
        color: #acacac;
        background: #000;
        overflow: hidden;
    }
    .foot-left {
        padding-top: 6px;
        float: left;
        text-align: left;
        width: 240px;
        font-size: 16px;
        z-index: 2;
        position: relative;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .foot-right {
        padding-top: 6px;
        float: right;
        text-align: right;
        width: 240px;
        z-index: 2;
        position: relative;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .foot-soc {
        text-align: center;
        margin: 0 0 31px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        a {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 22px;
            font-size: 23px;
        }
    }
}


/*--------------- content --------------*/

.content {
    position: relative;
    z-index: 1;
    clear: both;
    display: block;
}

section {
    clear: both;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}


/* */

.btn {
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Play', arial;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $btn_color;
    position: relative;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2.5px;
    line-height: 64px;
    height: 63px;
    padding: 0 38px;
    text-transform: uppercase;
    color: $btn_color;
    background: $btn_bg;
    overflow: hidden;
    text-decoration: none;
    border-radius: 0px;
    box-shadow: none;
    transition: all 0.4s ease-out;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover {
        background: $btn_color;
        color: #000;
    }
    &:active,
    &:focus {
        opacity: 0.8;
    }
}

.form-row {
    position: relative;
    margin: 0 auto 30px;
    max-width: 420px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .btn {
        width: 100%;
        margin-top: -2px;
    }
}

.btns {
    clear: both;
    text-align: center;
}

.t-inp,
textarea {
    padding: 10px 30px 10px 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    color: #000;
    -webkit-appearance: none;
    height: 65px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    background: #fff;
    border-radius: 0px;
    font-family: 'Play', arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.t-inp {
    white-space: nowrap;
}

textarea {
    height: 149px;
    resize: none;
    overflow: auto;
}

.placeholder {
    color: #6d6d6d;
}

.t-inp.error,
textarea.error {
    border-color: #ff0000;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}


/*-------------------------------------------------------------*/

.leaf {
    position: absolute;
    z-index: 0;
}

.leaf1 {
    left: 0;
    top: -16px;
}

.leaf2 {
    right: 0;
    top: -167px;
}

.leaf3 {
    left: 0;
    top: -445px;
}

.leaf4 {
    right: 0;
    top: -282px;
}

.leaf5 {
    right: 0;
    top: 964px;
    top: 164px;
}

.leaf6 {
    left: 50%;
    top: 208px;
    margin-left: -555px;
}

.leaf7 {
    left: 50%;
    top: 409px;
    margin-left: -117px;
}

.sec-txt {
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.45px;
}

.subtitle {
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
}

.section-top {
    position: relative;
    z-index: 0;
    text-align: center;
    padding: 43px 0 62px;
    overflow: hidden;
    .wrapper {
        max-width: 590px;
    }
    .logo-block {
        margin-bottom: 68px;
    }
}

.section-box {
    position: relative;
    z-index: 1;
    background: #f5f7fa;
    color: #000;
    padding: 87px 0;
    /*height: 1251px;*/
    h1 {
        margin: 0 0 0px;
    }
    .box {
        position: relative;
        height: 583px;
        transition: all 0.4s linear;
        .lay {
            position: absolute;
        }
        .lay__tooltip {
            display: none;
            position: absolute;
            width: 400px;
            /*min-height: 280px;*/
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
            background-color: #f5f6f8;
            z-index: 100;
            text-align: left;
            padding: 36px 40px 30px 35px;
        }
        .lay__tooltip-close {
            width: 40px;
            height: 40px;
            background-color: #e0e1e2;
            border-radius: 50%;
            position: absolute;
            top: 22px;
            right: 24px;
            cursor: pointer;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
        }
        .lay__tooltip-close:hover {
            background-color: #cecfd0;
        }
        .lay__tooltip-close::after,
        .lay__tooltip-close::before {
            content: "";
            width: 17px;
            height: 1px;
            background-color: #909090;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .lay__tooltip-close::after {
            -webkit-transform:translate(-50%, -50%) rotate(45deg);
            -ms-transform:translate(-50%, -50%) rotate(45deg);
            transform:translate(-50%, -50%) rotate(45deg);
        }
        .lay__tooltip-close::before {
            -webkit-transform:translate(-50%, -50%) rotate(-45deg);
            -ms-transform:translate(-50%, -50%) rotate(-45deg);
            transform:translate(-50%, -50%) rotate(-45deg);
        }
        .lay__tooltip-title {
            color: #010101;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-transform: uppercase;
            margin-bottom: 2px;
        }
        .lay__tooltip-descr {
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 15px;
        }
        .lay__tooltip-content {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        .lay__tooltip_1 {
            top: -45px;
            left: 60px;
        }
        .lay__tooltip_2 {
            top: -45px;
        }
        .lay__tooltip_3 {
            top: -116px;
            left: 59px;
        }
        .lay__tooltip_4 {
            top: -100px;
        }
        .lay__tooltip_5 {
            top: -68px;
            left: 57px;
        }
        .lay__tooltip_6 {
            top: -30px;
            left: -50px;

        }
        .lay__tooltip_7 {
            top: -45px;
            left: -62px;
        }
        .lay0 {
            top: 72px;
            left: 334px;
            z-index: 0;
            background: url(../img/lay0.jpg?ver1.0) no-repeat 0 0;
            width: 528px;
            height: 484px;
        }
        .lay1 {
            top: -43px;
            left: 46px;
            z-index: 15;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 132px;
                left: -39px;
            }
        }
        .lay2 {
            top: 232px;
            left: -20px;
            z-index: 15;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 164px;
                left: 98px;
            }
        }
        .lay3 {
            top: 586px;
            left: 155px;
            /*z-index: 15;*/
            z-index: 30;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 100px;
                left: -80px;
            }
        }
        .lay4 {
            top: 610px;
            left: 378px;
            z-index: 19;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 116px;
                left: 121px;
            }
        }
        .lay5 {
            top: 571px;
            left: 755px;
            z-index: 19;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 48px;
                left: 234px;
            }
        }
        .lay6 {
            top: 247px;
            left: 901px;
            z-index: 19;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                top: 135px;
                left: 156px;
            }
        }
        .lay7 {
            top: -60px;
            left: 909px;
            z-index: 19;
            opacity: 0;
            transition: all 0.2s linear;
            .lay-txt {
                left: 152px;
                top: 148px;
            }
        }
        .layfull {
            top: 72px;
            left: 334px;
            width: 528px;
            height: 380px;
            // z-index: 20;
            z-index: 14;
            div {
                width: 528px;
                height: 380px;
                background: url(../img/layfull.jpg?ver1.0) no-repeat 0 0;
                position: absolute;
                transition: all 0.2s linear;
            }
            .lf7 {
                background-position: 0 0;
            }
            .lf6 {
                background-position: 0 -386px;
            }
            .lf5 {
                background-position: 0 -772px;
            }
            .lf4 {
                background-position: 0 -1158px;
            }
            .lf3 {
                background-position: 0 -1544px;
            }
            .lf2 {
                background-position: 0 -1930px;
            }
            .lf1 {
                background-position: 0 -2316px;
            }
            img {
                opacity: 0;
                width: 640px;
                max-width: 642px;
                transform: scale(3);
                transition: all 0.3s linear;
            }
        }
        .laypaper {
            top: 72px;
            left: 334px;
            z-index: 21;
        }
        .laycover {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            top: 13px;
            left: 422px;
            width: 355px;
            z-index: 22;
        }
        .laytop {
            top: 70px;
            left: 331px;
            z-index: 25;
            width: 642px;
            transition: all 0.2s linear;
            img {
                width: 642px;
            }
        }
        .laytop2 {
            z-index: 25;
            top: 9px;
            width: 908px;
            left: 339px;
            opacity: 0;
        }
        .lay-txt {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            color: #000;
            line-height: 17px;
            width: 150px;
            transition: all 0.2s linear;
            p {
                margin: 0;
                font-size: 14px;
            }
            .lay-title {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 3px;
            }
        }
    }
    .box:not(open) {
        .laytop {
            /*animation-name: pulse_animation;    animation-duration: 5000ms;    transform-origin:70% 70%;    animation-iteration-count: infinite;    animation-timing-function: linear;*/
        }
    }
    .box.open {
        height: 883px;
        .lay {
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
            transform-origin: center center;
        }
        .laytop {
            transform: scale(1.03);
            animation-name: boxtop;
            animation-duration: .5s;
            transition: all 0s linear;
            transition-delay: 0.5s;
            opacity: 0;
            img {
                width: 0;
                transition-delay: 6.2s;
            }
        }
        .laytop2 {
            opacity: 1;
            animation-name: boxmove;
            animation-duration: .5s;
            animation-delay: 0.5s;
            transition-delay: 0.5s;
        }
        .laycover {
            animation-name: covermove;
            animation-delay: 1s;
            animation-duration: 0.7s;
        }
        .laypaper {
            opacity: 0;
            transition: all 0.3s linear;
            transition-delay: 1.7s;
        }
        .layfull {
            .lf7 {
                opacity: 0;
                transition-delay: 2.2s;
                z-index: 7;
            }
            .lf6 {
                opacity: 0;
                transition-delay: 3.2s;
                z-index: 6;
            }
            .lf5 {
                opacity: 0;
                transition-delay: 4.2s;
                z-index: 5;
            }
            .lf4 {
                opacity: 0;
                transition-delay: 5.2s;
                z-index: 4;
            }
            .lf3 {
                opacity: 0;
                transition-delay: 6.2s;
                z-index: 3;
            }
            .lf2 {
                opacity: 0;
                transition-delay: 7.2s;
                z-index: 2;
            }
            .lf1 {
                opacity: 0;
                transition-delay: 8.2s;
                z-index: 1;
            }
            img {
                opacity: 1;
                transition-delay: 9.5s;
                transform: scale(1);
            }
        }
        .lay1 {
            opacity: 1;
            transition-delay: 2.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 2.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay2 {
            opacity: 1;
            transition-delay: 3.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 3.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay3 {
            opacity: 1;
            transition-delay: 4.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 4.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay4 {
            opacity: 1;
            transition-delay: 5.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 5.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay5 {
            opacity: 1;
            transition-delay: 6.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 6.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay6 {
            opacity: 1;
            transition-delay: 7.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 7.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay7 {
            opacity: 1;
            transition-delay: 8.5s;
            .lay-txt {
                opacity: 1;
                transition-delay: 8.8s;
            }
            &:hover img {
                -webkit-animation-name: spaceboots;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }
        .lay0 {}
    }
    .btn {
        position: relative;
        z-index: 40;
    }
    .btn-video {
        display: none;
    }
    .btn-video.visible {
        display: inline-block;
    }
}

@keyframes boxtop {
    0% {
        transform: rotate(0deg) scale(1);
        top: 72px;
        left: 331px;
    }
    40% {
        transform: rotate(0deg) scale(1.03);
        top: 72px;
        left: 331px;
    }
    100% {
        transform: rotate(-17deg) scale(1.03);
        left: 528px;
        top: 70px;
    }
}

@-webkit-keyframes boxtop {
    0% {
        transform: rotate(0deg) scale(1);
        top: 72px;
        left: 331px;
    }
    40% {
        transform: rotate(0deg) scale(1.03);
        top: 72px;
        left: 331px;
    }
    100% {
        transform: rotate(-17deg) scale(1.03);
        left: 528px;
        top: 70px;
    }
}


/* */

@keyframes boxmove {
    0% {
        top: 9px;
        left: 339px;
        opacity: 1;
    }
    100% {
        top: 209px;
        left: 1839px;
        opacity: 1;
    }
}

@-webkit-keyframes boxmove {
    0% {
        top: 9px;
        left: 339px;
        opacity: 1;
    }
    100% {
        top: 209px;
        left: 1839px;
        opacity: 1;
    }
}


/* */

@keyframes covermove {
    0% {
        transform: rotate(-90deg) scale(1);
        top: 13px;
        left: 422px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    20% {
        transform: rotate(-19.5deg);
        top: 49px;
        left: 384px;
        box-shadow: -10px 10px 30px rgba(68, 63, 62, 0.28);
    }
    60% {
        transform: rotate(-19.5deg);
        top: 49px;
        left: 384px;
        box-shadow: -10px 10px 30px rgba(68, 63, 62, 0.28);
        opacity: 1;
    }
    100% {
        transform: rotate(17deg);
        left: -788px;
        top: 370px;
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.28);
        opacity: 0;
    }
}

@-webkit-keyframes covermove {
    0% {
        transform: rotate(-90deg) scale(1);
        top: 13px;
        left: 422px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    20% {
        transform: rotate(-19.5deg);
        top: 49px;
        left: 384px;
        box-shadow: -10px 10px 30px rgba(68, 63, 62, 0.28);
    }
    60% {
        transform: rotate(-19.5deg);
        top: 49px;
        left: 384px;
        box-shadow: -10px 10px 30px rgba(68, 63, 62, 0.28);
        opacity: 1;
    }
    100% {
        transform: rotate(17deg);
        left: -788px;
        top: 370px;
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.28);
        opacity: 0;
    }
}


/* */

@keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* */

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.section-video {
    position: relative;
    z-index: 2;
    overflow: hidden;
    .video-cov {
        position: relative;
        overflow: hidden;
        background: #000;
        &:before {
            content: '';
            display: block;
            padding-bottom: 784px;
        }
        iframe,
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        video {
            height: auto;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .video-link {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/img1.jpg?ver1.0) no-repeat center top;
            background-size: cover;
            z-index: 2;
            &:before {
                content: '';
                opacity: 0.34;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: #000;
            }
            &:after {
                z-index: 2;
                background: url(../img/playbutton.svg?ver1.0) no-repeat center;
                background-size: 100%;
                content: '';
                width: 101px;
                height: 101px;
                opacity: 0.58;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -50.5px 0 0 -50.5px;
                transition: all 0.4s ease-out;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        &.play {
            .video-link {
                opacity: 0;
                visibility: hidden;
            }
        }
        .volume {
            cursor: pointer;
            position: absolute;
            z-index: 20;
            top: 10px;
            right: 10px;
            font-size: 30px;
            color: #ca9d6f;
            &:hover {
                color: #dfac79;
            }
        }
        .volume.unmute i:before {
            content: "\f028";
        }
    }
}

.section-looks {
    height: 1277px;
    position: relative;
    z-index: 4;
    overflow: hidden;
    .leaf8 {
        left: 0;
        top: 45px;
    }
    .leaf9 {
        right: 0;
        top: -96px;
    }
    .leaf10 {
        right: 0;
        top: 730px;
    }
    .wrapper {
        position: relative;
        z-index: 1;
        max-width: 1280px;
    }
    h2 {
        text-align: center;
        margin: 0 0 40px;
    }
    .btns {
        position: absolute;
        bottom: 67px;
        left: 0;
        right: 0;
        z-index: 30;
        .btn {
            width: 242px;
        }
    }
    .sec-abs {
        position: absolute;
        top: 104px;
        left: 0;
        right: 0;
        z-index: 40;
    }
    .slick-dots {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 210px;
        bottom: auto;
        li {
            display: inline-block;
            vertical-align: top;
            margin: 0 19px;
            letter-spacing: 0.4px;
            text-shadow: 0 0;
            line-height: 1.3;
            list-style: none;
            text-transform: uppercase;
            a {
                cursor: pointer;
                color: #929292;
                position: relative;
                display: inline-block;
                overflow: hidden;
                border-bottom: 1px dashed #929292;
                &:hover {
                    color: #e5c093;
                    border-color: transparent;
                }
            }
            &.slick-active a {
                color: #e5c093;
                border-color: transparent;
            }
        }
    }
    .bg-slider {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        .slick-slide {
            height: 1277px;
            z-index: 20;
        }
        .look1 {
            background: url(../img/bg1.jpg?ver1.0) no-repeat center top #000000;
            background-size: 100% 100%;
        }
        .look2 {
            background: url(../img/bg2.jpg?ver1.0) no-repeat center top #000000;
            background-size: 100% 100%;
        }
        .look3 {
            background: url(../img/bg3.jpg?ver1.0) no-repeat center top #000000;
            background-size: 100% 100%;
        }
        .look4 {
            background: url(../img/bg4.jpg?ver1.0) no-repeat center top #000000;
            background-size: 100% 100%;
        }
    }
    .look {
        padding: 300px 0 100px;
        height: 1277px;
        z-index: 10;
        opacity: 1 !important;
        left: 0 !important;
        position: absolute !important;
        width: 100%;
        top: 0;
        left: 0;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 238px;
            z-index: 2;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
        }
        &.look1 {}
        .look-img {
            overflow: hidden;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.0, 1.0);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
            background-size: cover;
            z-index: 10;
            img {
                height: 100%;
                vertical-align: top;
                max-width: 9999px;
            }
        }
        &.slick-slide:nth-child(1) {
            z-index: 10;
        }
        &.slick-slide:nth-child(2) {
            z-index: 0;
        }
        &.slick-slide:nth-child(3) {
            z-index: 0;
        }
        &.slick-slide:nth-child(4) {
            z-index: 0;
        }
        &.slick-slide.out {
            z-index: 11;
        }
        &.slick-slide.animate {
            z-index: 15;
        }
        &.slick-slide.slick-active {
            z-index: 20;
            .look-img {
                backface-visibility: hidden;
                transform: translateZ(0) scale(1.0, 1.0);
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);
            }
            .look-txt,
            .look-items {
                opacity: 1;
            }
        }
        &.slick-slide.animate {
            z-index: 20;
            .look-img {
                animation-name: sliderMiddle;
                animation-duration: .8s;
                animation-timing-function: cubic-bezier(1, 0, 0, 1);
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
                transform-origin: center center;
                z-index: 30;
            }
            .look-txt,
            .look-items {
                opacity: 1;
            }
        }
        .look-img1 {
            float: left;
            position: relative;
            overflow: hidden;
            z-index: 0;
            margin: 63px -110px 0 0;
            width: 579px;
            height: 648px;
            .look-img {
                height: 648px;
            }
        }
        .look-img2 {
            float: left;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin: 0 36px 0 0;
            width: 319px;
            height: 443px;
            font-size: 0;
            text-align: center;
            line-height: 443px;
            .look-img {
                background: #000;
            }
        }
        .look-txt {
            overflow: hidden;
            opacity: 0;
            transition: all 0.4s ease-out;
            min-height: 443px;
            padding-right: 30px;
            letter-spacing: 0.15px;
            h3 {
                margin: 9px 0 2px -3px;
                letter-spacing: -0.6px;
            }
            .look-subtitle {
                margin-bottom: 29px;
                text-transform: uppercase;
            }
        }
        .look-items {
            overflow: hidden;
            padding: 13px 0 0 141px;
            opacity: 0;
            transition: all 0.4s ease-out;
            .look-item {
                margin-left: 14px;
            }
            .look-item:nth-child(3) {
                margin-left: -10px;
            }
        }
    }
    .slick-prev {
        display: none;
    }
    .slick-next {
        text-align: left;
        right: 50%;
        top: 328px;
        margin-right: 135px;
        border-radius: 50%;
        background: #e5c093;
        border: none;
        width: 70px;
        height: 70px;
        font-size: 0;
        b {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            i {
                display: block;
                left: 0;
                padding-right: 6px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                z-index: 0;
                overflow: hidden;
                &:after {
                    position: relative;
                    left: 0px;
                    content: '';
                    display: block;
                    vertical-align: top;
                    margin: 27px auto 0;
                    transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    width: 15px;
                    height: 15px;
                    box-sizing: border-box;
                    border-top: 3px solid #000;
                    border-right: 3px solid #000;
                }
            }
        }
        .circle {
            left: 0;
            animation-name: animateCircle;
            background: #e5c093;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 0;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
            transform-origin: center center;
        }
        &:hover {
            .circle {
                animation-name: desanimaBtn;
                background: transparent;
            }
            b i {
                z-index: 10;
                animation-name: animateArrowRight;
                animation-duration: 0.2s;
                animation-timing-function: linear;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
                transform-origin: center center;
            }
        }
    }
    .looks {
        height: 100%;
        max-width: 100%;
        z-index: 10;
        .slick-list,
        .slick-track {
            height: 100%;
            max-width: 100%;
        }
    }
}

@keyframes animateArrowRight {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(70px);
        -webkit-transform: translateX(70px);
    }
    51% {
        transform: translateX(-70px);
        -webkit-transform: translateX(-70px);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes animateArrowRight {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(70px);
        -webkit-transform: translateX(70px);
    }
    51% {
        transform: translateX(-70px);
        -webkit-transform: translateX(-70px);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes animateCircle {
    0% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    10% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    11% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    12% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    22% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    39% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    40% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    51% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    52% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    62% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    100% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes animateCircle {
    0% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    10% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    11% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    12% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    22% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    39% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    40% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    51% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 0;
    }
    52% {
        transform: scaleX(1) scaleY(1);
        -webkit-transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    62% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
    100% {
        transform: scaleX(1.5) scaleY(1.5);
        -webkit-transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
    }
}

@keyframes sliderMiddle {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes sliderMiddle {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.section-form {
    overflow: hidden;
    padding: 83px 0px;
    position: relative;
    z-index: 1;
    background: #f5f7fa;
    color: #000;
    .wrapper {
        max-width: 725px;
        position: relative;
        z-index: 3;
    }
    .subtitle {}
    .form {
        background: #000000;
        color: #fff;
        padding: 69px 70px 61px;
        margin-bottom: 78px;
        margin-top: 84px;
        .form-txt {
            font-size: 24px;
            text-align: center;
            margin-bottom: 55px;
        }
        .form-row {}
    }
}

.thanks-popup {
    display: none;
    background: #000000;
    color: #fff;
    width: 300px;
    margin: auto;
    font-family: $font;
}

.thanks-popup .thanks-popup-wrap {
    height: 200px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
}

.win {
    width: 1024px;
    background: #000;
    padding: 58px;
    h3 {
        text-align: center;
        font-size: 55px;
        margin-bottom: 52px;
        margin-bottom: 52px;
    }
    .look-items {
        text-align: center;
        height: 258px;
        position: relative;
        top: -1px;
        margin-left: 35px;
        a {
            opacity: 0.4;
            margin: 0 14px;
            transform: scale(0.84);
            transform-origin: center;
            display: inline-block;
            &:hover {
                opacity: 1;
            }
        }
        a:nth-child(3) {
            margin-left: -10px;
        }
        .slick-current a {
            opacity: 1;
        }
        &.slick-initialized .slick-slide {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .slick-arrow {
        opacity: 0.36;
        position: absolute;
        top: 0;
        width: 95px;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        z-index: 8040;
        background: none;
    }
    .slick-prev {
        left: -53px;
        text-align: left;
    }
    .slick-next {
        right: -53px;
        text-align: right;
    }
    .slick-arrow:after {
        content: '';
        position: absolute;
        top: 175px;
        cursor: pointer;
        z-index: 8040;
        width: 50px;
        height: 50px;
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
    }
    .slick-prev:after {
        left: 61px;
    }
    .slick-next:after {
        right: 61px;
        transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }
    .slick-arrow:hover {
        opacity: 1;
    }
    .slick-active {
        z-index: 20;
    }
}

.tov {
    margin: 0 auto 0px;
    max-width: 606px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .tov-img {
        float: left;
        text-align: center;
        width: 238px;
        height: 371px;
        line-height: 371px;
        font-size: 0;
        padding-left: 50px;
        padding-right: 30px;
        &.tov-img_bigger {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: -35px;
            margin-right: 25px;
            }
    }
    .tov-desc {
        overflow: hidden;
        padding-top: 58px;
        line-height: 1.25;
        .tov-name {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.45;
        }
        .tov-subtitle {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.45;
            margin-bottom: 17px;
        }
        p {
            font-size: 18px;
            max-width: 300px;
            letter-spacing: 0.3px;
        }
        .btn {
            width: 274px;
            margin-top: 35px;
            margin-left: 1px;
        }
    }
}

#map-container {
    color: #191919;
}

@media (max-width: 1392px){
    .video-cov {
        height: 400px;
    }
}

@media(max-width: 1024px){
    .win {
        width: 100%;
    }
    .fancybox-close {
        top: 25px;
        right: 25px;
        &:before, &:after {
            background:#fff;
        }
    }
}

@media(max-width: 1240px) {
    .section-looks .look .look-img img {
        width: 100%;
    }
    body{
        transform: none;
    }

    .wrapper {
        padding: 0 15px;
    }
    header .wrapper {
        padding: 0 30px;
    }
    #header.scrolled {
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-top: 0;
    }
    #header .head-soc a {
        margin-left: 22px;
        margin-top: -2px;
    }

    .sec-txt br {
        display: none;
    }

    .section-top .leaf {
        transform: none !important;
        width: 290px;
    }

    .section-top .wrapper {
        position: relative;
        z-index: 5;
    }

    .section-box .box {
        height: auto;
    }

    .section-box .box .lay0 {
        display: none;
    }

    .section-box .box {
        padding-top: 566px;
    }

    .section-box .box .lay {
        width: 50%;
        float: left;
    }

    .section-box .box .lay.laytop {
        width: 100%;
        left: 5%;
        right: 0;
        text-align: center;
    }

    .section-box .box {
        .lay1, .lay3, .lay5, .lay7 {
            text-align: right;
            clear: left;
            &.lay img {
                margin-left: 0;
            }
            &.lay {
                top: 0;
            }
            .lay-txt {
                margin-top: 0;
                right: 20%;
                left: auto;
                text-align: left;
            }
        }
        .lay-txt {
            top: 55% !important;
            left: 30%;
            margin-top: -25px;
            display: inline-block;
            p {
                margin-top: 4px;
            }
        }
        @media (min-width: 480px){
        .lay2 .lay-txt {
            left: 40%;
        }
        .lay3 {
            margin-top: 40px;
            text-align: left;
            &.lay img {
                margin-left: 4%;
            }
            .lay-txt {
                left: 50%;
                margin-top: -48px;
            }
        }
        .lay4 {
            margin-top: 25px;
            &.lay img {
                margin-left: -6px;
                margin-top: 16px;
            }
            .lay-txt {
                margin-top: 8px;
                margin-left: -15px;
            }
        }
        .lay5 {
            margin-top: 50px;
            &.lay img {
                margin-right: 18%;
            }
            .lay-txt {
                left: 24%;
                margin-top: 57px;
            }
        }
        .lay6 {
            margin-top: 54px;
            &.lay img {
                margin-left: -13px;
            }
            .lay-txt {
                right: auto;
                left: 30%;
                margin-top: 36px;
            }
        }
        .lay7 {
            margin-top: 86px;
            &.lay img {
                margin-right: 30px;
            }
            .lay-txt {
                left: 85%;
                margin-top: -52px;
            }
        }
        }
    }

    .section-box .box .lay {
        top: 42px;
        img {
            margin-left: 15px;
        }
    }

    .section-box .lay.laypaper,
    .section-box .lay.laytop2,
    .section-box .lay.laycover,
    .section-box .lay.layfull {
        display: none;
    }

    .btn.js-box-opener {
        display: none;
    }

    .section-box .btn-video {
        display: inline-block;
        margin-top: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .section-box .box {
        .lay0, .lay1, .lay2, .lay3, .lay4, .lay5, .lay6, .lay7 {
            left: auto;
            right: auto;
            bottom: auto;
            /*z-index: 15;*/
            opacity: 1;
            position: relative;
            transition: all 0.2s linear;
            .lay-txt {
                opacity: 1;
            }
        }
    }

    .section-looks .wrapper {
        max-width: 870px;
    }

    .section-looks .look.slick-slide.slick-active .look-txt,
    .section-looks .look.slick-slide.slick-active .look-items {
        clear: left;
    }

    .section-looks .look .look-txt h3 {
        margin-top: 64px;
    }

    .section-looks .look .look-txt {
        min-height: 400px;
    }

    .section-looks .slick-next {
        margin-right: 0;
        right: 43%;
    }

    .section-looks {
        height: 1900px;
    }

    .section-looks .look {
        height: 1900px;
    }

    .section-looks .look .look-items {
        padding: 0;
        text-align: center;
    }
}

@media(min-width: 1024px) and (max-height: 940px) {
    .fancybox-close {
        top: 25px;
        right: 25px;
    }

    .fancybox-close::after,
    .fancybox-close::before {
        background: #fff;
    }
}

@media(max-width: 991px) {
    .tov {
        .tov-img {
            &.tov-img_bigger {
            }
        }
    }
    .section-top .wrapper {
        padding-top: 70px;
    }

    .section-box .box {

        .lay__tooltip {
        /*  width: 293px;*/
        }

        .lay__tooltip_1 {
            top: 0;
            left: 50%;
        }
        .lay__tooltip_2 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_3 {
            top: 0;
            left: 50%;
        }
        .lay__tooltip_4 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_5 {
            top: 0;
            left: 50%;
        }
        .lay__tooltip_6 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_7 {
            top: 0;
            left: auto;;
        }
    }



    .section-form .leaf {
        width: 280px;
        transform: none !important;
    }

    .section-form .leaf6 {
        left: 65%;
    }

    .section-form .leaf7 {
        left: 80%;
        top: 72%;
    }

    .section-box {
        .leaf {
            width: 170px;
            transform: none !important;
        }
        .leaf3 {
            left: -74px;
            top: -160px;
        }
        .leaf4 {
            top: -180px;
            right: -50px;
        }
        .leaf5 {
            top: auto;
            right: -50px;
            bottom: 80px;
        }
    }

    .section-looks .wrapper {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-looks .look .look-img1 {
        height: 360px;
        width: 324px;
        float: none;
        display: inline-block;
        margin: 0;
        z-index: 1;
    }

    .section-looks .look .look-img1 .look-img {
        height: auto;
    }

    .section-looks .look .look-img img {
        max-width: 100%;
        width: 100%;
    }

    .section-looks .look .look-img2 {
        height: 294px;
        width: 205px;
        float: none;
        display: block;
        margin-left: -6px;
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
        margin: 0 auto;
        z-index: 0;
    }

    .section-looks .look .look-txt h3 {
        margin-top: 54px;
    }

    .section-looks .look-txt {
        text-align: left;
    }

    .section-looks {
        height: 1850px;
    }

    .section-looks .look:before {

    }

    .section-looks .look {
        height: 1850px;
    }

    .section-looks .slick-next {
        top: 605px;
        right: 50%;
        transform: translate(50%, 0%);
    }

}

@media(max-width: 840px) {
    .tov {
        .tov-img {
            &.tov-img_bigger {
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

@media(max-width: 767px) {
    .video-cov {
        height: 320px;
    }
    .section-video .video-cov video {
        width: 100%;
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

    .section-top .logo-block {
        margin-bottom: 50px;
    }
    .section-top .leaf {
        width: 240px;
    }

    section .leaf {
        transform: none !important;
    }

    .section-top {
        padding-bottom: 53px;
    }

    .logo-block img {
        width: 215px;
    }

    .section-top .wrapper {
        padding-top: 52px;
    }

    .section-box .box {
        .lay img {
            width: 38%;
        }
        .lay1 img {
            width: 142px;
        }
        .lay2 img {
            width: 70px;
        }
        .lay3 img {
            width: 97px;
        }
        .lay4 img {
            width: 230px;
        }
        .lay5 img {
            width: 176px;
        }
        .lay6 img {
            width: 225px;
        }
        .lay7 img {
            width: 155px;
        }
    }

    .section-box .box {
        padding-top: 326px;
    }

    .section-box .box .lay.laytop img {
        width: 370px;
    }

    #header {
        padding-top: 18px;
    }

    .sec-txt {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }


    .section-box .box .laytop {
        width: 370px;
        height: 370px;
    }

    #footer .foot-left {
        float: none;
        text-align: center;
        width: 100%;
    }

    #footer .foot-right {
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }

    #footer .foot-soc {
        position: relative;
        left: auto;
        right: auto;
        margin-bottom: 20px;
        margin-top: 9px;
    }

    #footer .foot-in {
        height: 222px;
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }

    #footer {
        height: 222px;
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .section-form {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .section-form .form {
        margin-left: 15px;
        margin-right: 15px;
        padding: 52px 30px 24px;
        margin-top: 80px;
    }

    .section-form .form h4 {
        font-size: 26px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 15px;
    }

    .section-form .form .form-txt {
        margin-bottom: 36px;
    }

    .section-box .wrapper {
        z-index: 2;
        position: relative;
    }

    .section-box {
        padding-top: 60px;
        padding-bottom: 60px;
        h1 {
            font-size: 48px;
        }
        .subtitle {
            font-size: 26px;
        }
        .box .laytop {
            top: 44px;
        }
    }

    .section-looks {
        .sec-abs {
            top: 66px;
            h2 {
                font-size: 46px;
            }
        }
        .slick-dots {
            top: 152px;
            li {
                margin-left: 13px;
                margin-right: 13px;
                font-size: 15px;
            }
        }
        .slick-next {
            top: 545px;
        }
    }

    .section-looks .look .look-img2 {
    }

    .section-looks .look {
        padding-top: 242px;
    }

     .section-looks .look.slick-slide.slick-active .look-items {
         transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
     }

     .win h3 {
        font-size: 46px;
     }

    .tov .tov-img {
        width: 200px;
    }

    .win {
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        .tov-desc {
            .btn {
                padding-left: 15px;
                padding-right: 15px;
                width: 200px;
            }
        }
    }
    .win h3 {
        font-size: 32px;
        margin-top: 30px;
    }
    .win .look-items {
         transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
    }

    .win .look-items {
        text-align: center;
        padding-left: 10px;
        margin-top: 50px;
        height: auto;
    }

    .win .look-items a {
        img {
            display: none;
        }
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #ca9d6f;
            border-radius: 50%;
            margin-left: 0.5px;
        }
    }
}

@media(max-width: 666px){
    .section-looks .look.slick-slide.slick-active .look-items {
        margin-top: -65px;
    }
    .section-looks .look .look-items {
        margin-top: -10px;
    }
    .section-looks .look .look-items .look-item {
        margin-left: 10px;
        img {
             transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
        }
    }
}

@media(max-width: 520px){
    .section-form .leaf6 {
        left: 100%;
        top: 190px;
    }
    .section-top .leaf {
        width: 180px;
    }
    .section-top .leaf2 {
        top: -70px;
    }
    .section-top .leaf1 {
        left: -50px;
    }
    .section-looks .look .look-items {
        margin-top: -30px;
    }

    .section-box .box .lay__tooltip-close {
        height: 30px;
        width: 30px;
        top: 14px;
        right: 14px;
    }

    .section-box .box {

        .lay__tooltip {
            width: 293px;
        }

        .lay__tooltip_1 {
            top: 0;
            left: 0;
            /*right: 0;*/
        }
        .lay__tooltip_2 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_3 {
            top: 0;
            left: 0;
        }
        .lay__tooltip_4 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_5 {
            top: 0;
            left: 0;
        }
        .lay__tooltip_6 {
            top: 0;
            left: auto;
            right: 0;
        }
        .lay__tooltip_7 {
            top: 0;
            left: 0;
        }
    }
}

@media(max-width: 479px){
    header .wrapper {
        padding: 0 10px;
    }
    .section-box .btn-video {
        margin-top: 80px;
    }
    #header .head-soc a {
        margin-left: 6px;
    }
    .section-form .form {
        margin-left: 0;
        margin-right: 0;
    }
    .section-form .form h4 {
        font-size: 17px;
        line-height: 22px;
        padding-left: 0;
        padding-right: 0;
    }
    .section-form .form .form-txt {
        font-size: 17px;
    }
    .section-form .leaf6 {
        left:125%;
    }
    .section-box .box .lay {
        width: 100%;
    }
    .section-box .leaf3 {
        top: -100px;
    }
    .section-box .leaf4 {
        top: -82px;
    }

    .win {
        width: 320px;
    }

    .tov .tov-img {
        width: 290px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .tov .tov-desc {
        display: none;
    }

    .win .look-items {
            margin-left: -15px;
    margin-right: -15px;
    }

    .section-box .leaf3,
    .section-box .leaf4,
    .section-box .leaf5 {
        display: none;
    }

    .section-box .box .lay.laytop {
        left: 0%;
    }

    .section-box .box {
        .lay2 {
            top: 24px;
        }
        .lay.lay5 {
            top: 52px;
        }
        .lay4 img {
            margin-left: -5px;
        }
        .lay4 .lay-txt {
            left: 50%;
        }
        .lay5 {
            .lay-txt {
                left: 0;
            }
        }
        .lay.lay6 {
            top: 50px;
            img {
                margin-left: -15px;
            }
        }
        .lay.lay7 {
            top: 54px;
            .lay-txt {
                left: 0;
                margin-top: -25px;
            }
        }
    }

    .section-looks {
        height: 1586px;
    }

    .section-looks .sec-abs h2 {
        font-size: 29px;
    }
    .section-looks .slick-dots li {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }
    .section-looks .look .look-img2 {
        height: 180px;
        width: 110px;
    }
    .section-looks .look .look-img1 {
        width: 240px;
        height: 270px;
    }
    .section-looks .slick-next {
        top: 453px;
    }
    .section-looks .look.slick-slide.slick-active .look-txt {
        padding-right: 0;
        h3 {
            font-size: 40px;
        }
    }
    .section-looks .look .look-items {
        margin-top: -80px;
    }

    .section-looks .look.slick-slide.slick-active .look-items {
        margin-top: -80px;
    }

}

@media(max-width: 450px){
    .section-looks {
        height: 1640px;
    }
}

@media(max-width: 438px){
    .section-looks {
        height: 1705px;
    }
}

@media(max-width: 362px){
    .section-looks {
        height: 1754px;
    }
}

@media(max-width: 360px){

    .section-looks {
        height: 1835px;
    }

    .section-looks .look .look-items {
        margin-top: -140px;
    }
}

@media(max-width: 320px) {
    .section-looks .look .look-items {
        margin-top: -170px;
    }
}
